.gg-section.main {
  .gg-content {
    background-color: transparent;
  }
  h1 {
    font-size: 66px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    @media @tablet { font-size: 56px }
    @media @phone { font-size: 36px }
  }
  h2 {
    font-size: 56px;
    font-weight: 200;
    color: #eee;
    text-align: center;
    margin-top: 10px;
    @media @tablet { font-size: 46px }
    @media @phone { font-size: 26px }
  }
}
