.container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  min-width: 430px;
  min-height: 550px;
}

.faded { opacity: .5 }

.gg-content {
  z-index: 1001;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  position: relative;
  color: #eee;
  background: transparent;
  margin-left: -45%;
  left: 50%;

  &.center { text-align: center }

  &.middle {} /* relies on js */

  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
    small {
      margin-left: 10px;
      font-size: 32px;
      color: #e1e1e1;
      vertical-align: 5%;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 30px;
    color: #eee;
    text-transform: lowercase;
  }

  .nav {
    margin-top: 30px;
  }

}
