#main {
  background-color: #010721;
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/backgrounds/01.jpg');
    background-size: cover;
    background-position: 100% 0;
    opacity: .7;
  }
}

.gg-content.main {
  height: 100px;
  top: 50%;
  margin-top: -100px;

  h1, h2 { text-shadow: 0 1px 1px #666 }

}
