#main {
  background-image: url('/img/backgrounds/01.jpg');
  background-size: cover;
  background-position: 100% 30%;
}

.gg-content.main {
  height: 100px;
  top: 50%;
  margin-top: -100px;

  h1, h2 { text-shadow: 0 1px 0 #666 }

}
